NODE_ENV=development
PORT=3000
CLOUDBASE_ENV_ID=
COS_REGION=
COS_BUCKET=
COS_OBJECT_PREFIX=templates/
COS_SECRET_ID=
COS_SECRET_KEY=
COS_SIGN_EXPIRES_SECONDS=300
DEVICE_SECRET_PEPPER=
CODE_SECRET_PEPPER=
RECOVERY_SECRET_PEPPER=
IP_PEPPER=
CORS_ALLOWLIST=
